body {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 0;
  padding-top: 36px;
}

img {
  display: block;
  width: 100%;
  height: 152px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.search-form {
  width: 371px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto 32px;
  gap: 8px;
}

.search-input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
}

.search-input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4e75ff;
  border-style: none;
}
.gallery {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 24px;
  justify-content: center;
  padding: 0;
}

.gallery-item {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.large-image {
  display: none;
}

.tags {
  display: none;
}

.container-images {
  width: 360px;
  flex-shrink: 0;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 10px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.likes {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
